# Spring Profile
SPRING_PROFILES_ACTIVE=local
SERVER_PORT=8123

# MySQL
DB_URL=jdbc:mysql://localhost:3306/pictureSystem
DB_USERNAME=root
DB_PASSWORD=

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DATABASE=10
REDIS_PASSWORD=

# 腾讯云 COS
COS_HOST=
COS_SECRET_ID=
COS_SECRET_KEY=
COS_REGION=
COS_BUCKET=

# Knife4j（生产环境）
KNIFE4J_USERNAME=
KNIFE4J_PASSWORD=

